@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import 'transitions';

body {
  font-size: 15px;
  font-family: 'Inter';

  background: $color-body-background;
}
